<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav w-100">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-8 col-sm-8 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link">Library Management</a>
                    </li>
                </div>
                <div class="col-md-3 col-sm-3 d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="my-account">My Account</a>
                    </li>


                </div>
            </div>
        </div>
    </ul>
</nav>

<router-outlet></router-outlet>