.custom-catetory-button {
    max-width: 100px;
    width: 100px;
    border-radius: 100px;
}

.adventure-class {
    background: #ec6a1f;
    border: #ec6a1f;
}

.social-class {
    background: #8bc34a;
    border: #8bc34a;
}

.sports-class {
    background: #9c27b0;
    border: #9c27b0;
}

.technology-class {
    background-color: #009688;
    border: #009688
}

.book-list-table td,
.book-list-table th {
    padding: 10px;
}

.book-list-table thead {
    background: #a09b9b;
    color: white
}

.book-list-table tr {
    border-bottom: 1px solid #efe8e8
}

.cursor-pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
    color: #007bff;
}