<div class="col-md-12 col-sm-12 ">
    <form class="form-inline " [formGroup]="searchForm">
        <div class="input-group w-100 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input class="form-control mr-sm-2 col-md-6 col-sm-6" type="text" placeholder="Search Bookname here" formControlName="userSearchValue">
        </div>
    </form>
</div>
<div class="col-md-12 col-sm-12 ">
    <div class="row p-5 justify-content-center m-auto">
        <label>Categories</label>
        <div *ngFor="let category of listOfBookCategory;let index = index" class="ml-3">
            <button type="button" class="btn btn-primary custom-catetory-button" [ngClass]="category.categoryClass" (click)="filterResults(category.id, true)">
        <span>{{category.name}}</span>
      </button>
        </div>
    </div>

    <table class="book-list-table" *ngIf="bookList && bookList.length">
        <thead>
            <th>S.No.</th>
            <th>Name</th>
            <th>Author(s)</th>
            <th>Status</th>
            <th>Volume</th>
            <th>Quantity</th>
            <th>Action</th>
        </thead>
        <tbody>
            <ng-container>
                <tr *ngFor="let book of bookList;let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.authors}}</td>
                    <td>{{book.status}}</td>
                    <td>{{book.volume}}</td>
                    <td>{{book.quantity}}</td>
                    <td>
                        <span><button type="button" class="btn btn-link" (click)="addToBorrowedList(book, index)">borrow</button></span>
                    </td>
                </tr>
            </ng-container>
        </tbody>

    </table>
    <ng-container *ngIf="!bookList || !bookList.length">
        <div class="alert alert-warning" id="errorMessage">
            -No records found. We will let you know soon. Please try our <span class="text-underline cursor-pointer" (click)="filterResults(1, true)">New Adventure Arrivals</span>
        </div>
    </ng-container>
</div>