<div class="col-md-12 col-sm-12">
    <h6 class="mb-4">My Borrowed List</h6>

    <table class="book-list-table" *ngIf="borrowedBookList && borrowedBookList.length">
        <thead>
            <th>S.No.</th>
            <th>Book Id</th>
            <th>Name</th>
            <th>Author(s)</th>
            <th>Borrowed Date</th>
            <th>Due Date</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let borrowedBook of borrowedBookList;let index = index">
                <td>{{index + 1}}</td>
                <td>{{borrowedBook.book_id}}</td>
                <td>{{borrowedBook.book_name}}</td>
                <td>{{borrowedBook.book_authors}}</td>
                <td>{{borrowedBook.book_borrowed_on| date: 'dd-MMM-yyyy'}}</td>
                <td>{{borrowedBook.book_due_date | date: 'dd-MMM-yyyy'}}</td>
                <td>
                    <span><button type="button" class="btn btn-link" (click)="removeFromBorrowedList(borrowedBook, index)">return</button></span>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="!borrowedBookList || !borrowedBookList.length">
        <div class="alert alert-warning" id="myAccountErrorMessage">
            -No records found. Go to <span class="text-underline cursor-pointer" routerLink="dashboard">Dashboard</span>
        </div>
    </ng-container>
</div>